/* kalender*/
#calendarMonth {
    margin: 10px;
    width: calc(100% - 20px);
    border: 1px solid #424A4F;
    border-collapse: collapse;
    table-layout: fixed;
    color: whitesmoke;
}
#calendarMonth th {
    border: 1px solid #424A4F;
    font-size: 0.7em;
}
#calendarMonth td {
    border: 1px solid #424A4F;
    height: 5em;
    width: 5em;
    padding: 5px;
    vertical-align: top;
}
#calendarMonth caption {
    font-size: 3em;
}
#calendarMonth .future, .past, .today {
    text-align: right;
}
#calendarMonth .past {
    background-color: #c6f4e9;
}
#calendarMonth .today {
    background-color: #8bbfb8;
}
#calendarMonth .future {
    background-color: #FBFEF9;
}
#calendarMonth a, caption, thead {
    text-decoration: none;
    color: black;
}

/* events*/
#calendarMonth ul {
    list-style: none;
}
#calendarMonth .event, td a {
    border-radius: 2px;
}
#calendarMonth .event {
    display:block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;

    background-color: #4BA3C2;
    padding: 0.2em;
    margin: 0.2em;
    color: #f1f1f1;
    text-align: left;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#calendarMonth a:hover {
    background-color: black;
    color: #f1f1f1;
}
