/* kalender*/
table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    table-layout: fixed;
    color: whitesmoke;
}
th {
    border: 1px solid gray;
    font-size: 0.7em;
}
td {
    border: 1px solid gray;
    height: 5em;
    width: 5em;
    padding: 5px;
    vertical-align: top;
}
caption {
    font-size: 3em;
}
.future, .past, .today {
    text-align: right;
}
.past {
    background-color: #f1f1f1;
}
.today {
    background-color: beige;
}
.future {
    background-color: white;
}
a, caption, thead {
    text-decoration: none;
    color: black;
}

/* events*/
ul {
    list-style: none;
}
.event, td a {
    border-radius: 2px;
}
.event {
    display:block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;

    background-color: #4BA3C2;
    padding: 0.2em;
    margin: 0.2em;
    color: #f1f1f1;
    text-align: left;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
a:hover {
    background-color: black;
    color: #f1f1f1;
}

/*footer til bunns*/
@media (max-height: 800px) {
    article {
        margin: 0 auto -100px;
    }
}