#map {
    width: 100%;
    height: 300px;
}
#eventForm, head {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}
#eventForm label {
    margin: 5px 10px 5px 0;
}
#eventForm input, select{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #FBFEF9;
    border: 1px solid #424A4F;
}
#eventForm input[type=submit] {
    padding: 10px 20px;
    background-color: #1C5D99;
    border: 1px solid #424A4F;
    color: #FBFEF9;
    cursor: pointer;
}
#eventForm input[type=submit]:hover {
    background-color: black;
}

@media (max-width: 800px) {
    #eventForm input, #eventForm label {
        margin: 10px;
    }

    #eventForm, head {
        flex-direction: column;
        align-items: stretch;
    }
}