@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400&display=swap');
.jadenja{
    font-family: 'Roboto' ;
    border: 2px solid black;
    background-color: red;
    border-radius: 6px;
    width: 200px;
    color: white;
}
.navn{
    font-size: 14px;
}
.tittel{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.tid{
    font-size: 90%;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
}
#stedBtn{
    background: none;
    border: none;
    border-bottom: 1px dotted white;
  	color: white;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
}

.clickable {
    cursor: pointer;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
a {
    text-decoration: none;
    color: #d1d5db;
}
table {
    overflow-y: auto; 
}
table thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1;
}
.event {
    background: seagreen;
}











/* https://codepen.io/javiercf/pen/GviKy */
table {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
}
table thead tr th {
    background: #626E7E;
    color: #d1d5db;
    padding: 0.5em;
    overflow: hidden;
}
table thead tr th:first-child {
    border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
    border-radius: 0 3px  0 0;
}
table tbody tr {
    background: #d1d5db;
}
table tbody tr:nth-child(odd) {
    background: #c8cdd4;
}
table tbody tr:nth-child(4n+0) td {
    border-bottom: 1px solid #626E7E;
}
table tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 32px;
}
table tbody tr td:last-child {
    border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
    font-size: 2em;
    padding: 0;
    color: #626E7E;
    background: #fff;
    border-bottom: 1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}















@media (max-width: 60em) {
    table thead tr th .long {
        display: none;
    }
    table thead tr th .short {
        display: block;
    }
    table tbody tr td.hour span {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
    }
  }
  @media (max-width: 27em) {
    table thead tr th {
        font-size: 65%;
    }
    table thead tr th .day {
        display: block;
        font-size: 1.2em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 5px;
    }
    table thead tr th .day.active {
        background: #d1d5db;
        color: #626E7E;
    }
    table tbody tr td.hour {
        font-size: 1.7em;
    }
    table tbody tr td.hour span {
        transform: translateY(16px) rotate(270deg);
        -webkit-transform: translateY(16px) rotate(270deg);
        -moz-transform: translateY(16px) rotate(270deg);
    }
}