@import url(visuals.css);
@import url(calendarDay.css);
@import url(calendarMonth.css);
@import url(calendarSingleEvent.css);
@import url(shopping.css);
@import url(todo.css);
header{
    margin-bottom: 20px;
}

body{
    background: #1E1E1E;
}


.calendar {
    grid-area: calendar;
    margin-left: 20px;
    height: 50vh;

}
.calendarWrapper{
    display: inline-block;
    max-height: 100%;
    overflow-y: auto;
}
#calendarDay{
    margin: 0;
    width: 100%;

}
.todo {
    text-align: center;
    grid-area: todo;
    height: 50vh;
    overflow: auto;
    margin: 0 20px;

    /* border: 1px solid black; */

}
#entries{
    border: 1px solid black;
    background: white;
    height: 90%;
    /* margin: 10px; */
}
.todoLeggTil{
    width: 100%;
    background-color: white;
    font-size: 20px;
    height: 50px;
    border: 1px solid black;
    border-top: 0;
}
.todoLeggTil:hover{
    background: #e5ebf3;
}
.shopping {
    grid-area: shopping;
    margin-right: 20px;
}
#varer{
    margin: 0;
    width: 100%;
}
.shoppingVare{
    background-color: white;
}
.shoppingLeggTil{
    width: 100%;
    background-color: white;
    height: 50px;

    border: 0;
}

.news {
    grid-area: news;
    margin: 20px;
    margin-right: 0;

}
.weather {
    grid-area: weather;
    margin: 20px;
}
.family_members {
    grid-area: family_members;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "calendar calendar todo shopping"
    "calendar calendar todo shopping"
    "news news weather weather"
    "family_members family_members family_members family_members";
}
