/* form */
#nyItemForm {
    margin: 0 10px;
    width: calc(100% - 20px);
}
#nyItemForm, head {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}
#nyItemForm input {
    vertical-align: middle;
    text-align: center;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #FBFEF9;
    border: 1px solid #424A4F;
}
#nyItemForm button {
    padding: 10px 20px;
    background-color: #1C5D99;
    border: 1px solid #424A4F;
    color: #FBFEF9;
    cursor: pointer;
}
#nyItemForm button:hover {
    background-color: black;
}

@media (max-width: 800px) {
    #nyItemForm, #nyItemForm input, #nyItemForm button {
        margin: 10px;
    }

    #nyItemForm, head {
        flex-direction: column;
        align-items: stretch;
    }
}



/* tabell */
#varer {
    border-collapse: collapse;
    margin: 10px;
    width: calc(100% - 20px);
}
#varer td{

}
#varer td, #varer th {
    border: 1px solid #ddd;
    padding: 8px;

}

#varer tr:nth-child(even){
    background-color: #f2f2f2;
}

#varer tr:hover{
    background-color: #ddd;
}

#varer th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#empty{
    text-align: center;
    font-size: 2rem;
}
#varer .emptyRow td{
    border: 0;
}
.emptyRow{
    visibility: hidden;
}
.sumShopping{
    background-color: white;
}
tr.line_through td{
    position:relative
}
tr.line_through td:before{
    content: " ";
    position: absolute;
    left: 0; top: 50%; width: 100%;
    border-bottom: 1px solid #000;
}
.shoppingDelete{
    float: right;
    background: white;
    width: 40px;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
}
input[type="checkbox"]{
    margin-top: 10px;
}
