html {
    height: 100%;
}
.todo {
    height: 100%;
    background-color: #58A4B0;
}
.todoMain {
    padding: 10px 0;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.todoTitle {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 1000;
}
#nyItemForm {
    background-color: white;
    display: grid;
    margin-bottom: 10px;
    height: 60px;
    width: 100%;
    grid-template-columns: 50% 25% 25%;
}
#nyItem {
    padding: 5px 10px;
    /* height: 30px; */
    border: none;
    font-size: 130%;
    background: white;
    color: #2f4f4f;
    width: 100%;

}
#permission {
    text-align: center;
    background: #f4f2f2;

    padding: 2px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
#nyButton {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    border: none;
    height: 100%;
    background-color: #E5E5E5;
}
.items {
    background-color: white;
    overflow: auto;
    max-height: 50%;

}
label {
    align-self: center;
}

.entries {
    margin: 0;
    padding: 30px;
    padding-left: 30px;
    list-style: none;
}
.todoEntry {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid lightblue;
}

input.checkbox {
    width: 15px;
    height: 15px;
}
label.text {
    font-size: 140%;
    margin-left: 5px;
}
.delButton {
    background-color: red;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    color: white;
    width: 10%;
}

.wrapper {
    align-self: center;
}
input[type="checkbox"]:checked + label.text {
    text-decoration: line-through;
}
input[type="checkbox"] + label.text {
    text-decoration: none;
}


@media (max-width: 800px) {
    .todoMain {
        padding: 10px;
        width: calc(100% - 20px);
    }
}