@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    height: 100%;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}

/*header*/
header {
    color: #FBFEF9;
    font-weight: bold;

    height: 100px;
    list-style: none;
	background-image: radial-gradient(circle farthest-side at top right, transparent, #FBFEF9), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #175676);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img {
    width: auto;
    height: 70px;
}
header:last-child {
    float: right;
}
img, .openbtn, header p {
    margin-right: 10em;
}



/*footer ned til bunnen*/
main {
    min-height: calc(100vh - 100px - 100px);
}


/*footer*/
footer {
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    background-color: #474350;
}
footer ul {
    list-style: none;
}
footer .author {
    width: 40%;
    float: left;
}
footer .interactive {
    width: 60%;
    float: left;
}
footer .author, .interactive a {
    color: #FBFEF9;
    line-height: 100px;
}
footer .author {
    letter-spacing: 1px;
}
.interactive a {
    float: left;
    text-decoration: none;
    transition: 0.5s;
}
.interactive a:hover {
    background-color: black;
    transition: 0.5s;
}
a, #main {
    transition: 0.5s;
}
.top, .start, .feedback, footer .author p{
    font-size: 1em;
}
.top {
    background-color: #4BA3C2;
    width: 30%;
}
.start {
    background-color: #1C5D99;
    width: 30%;
}
.feedback {
    background-color: #175676;
    width: 40%;
}
@media (max-width: 1100px) {
    footer .author, footer .interactive {
        width: 100%;
    }
}