* {
    margin: 0;
    padding: 0;
}
/*sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    height: 100%;
    border: none;
  }
  .openbtn:hover {
    background-color: #444;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/*header*/
  header {
      
    color: #FBFEF9;
    margin: 0; 
    height: 100px;
    font-weight: bold;
    font: 1em;
/*
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
*/
    list-style: none;
	background-image: radial-gradient(circle farthest-side at top right, transparent, #FBFEF9), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #175676);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img {
    width: auto;
    height: 70px;
}
header:last-child {
    float: right;
}
header p, header img, header .openbtn {
    margin-right: 5em;
}








/*footer*/
footer ul {
    list-style: none;
}

footer {
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    background-color:#474350;
}
footer .author {
    width: 40%;
    float: left;
}
footer .interactive {
    width: 60%;
    float: left;
}

.author, .interactive a {
    color: #FBFEF9;
    line-height: 100px;
}
.author {
    letter-spacing: 1px;
}

.interactive a {
    float: left;
    text-decoration: none;
    transition: 0.5s;
}

.interactive a:hover {
    background-color: black;
    transition: 0.5s;
}

a, #main {
    transition: 0.5s;
    transition: margin-left 0.5s;
}

.top, .start, .feedback, .author p{
    font-size: 1em;
}

.top {
    background-color: #4BA3C2;
    width: 30%;
}
.start {
    background-color: #1C5D99;
    width: 30%;
}
.feedback {
    background-color: #175676;
    width: 40%;
}

@media (max-width: 1100px) {
    footer .author, footer .interactive {
        width: 100%;
***REMOVED***
}