table {
   border: 1px solid #999;
   border-collapse: collapse;
   font-family: Georgia, Times, serif;
}
th {
   border: 1px solid #999;
   font-size: 70%;
}
td {
   border: 1px solid #999;
   height: 5em;
   width:5em;
   padding: 5px;
   vertical-align: top;
}
caption {
   font-size: 300%;
   font-style: italic;
}
.future, .past {
   text-align: right;
}
.past {
    background-color: beige;
}
a {
    text-decoration: none;
    color: black;
}
